{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block body %}
<div class="container mt-3">

<div class="row">


<div class="col-md-4">

</div>

<div class="col-md-4 jumbotron shadow-sm p-3 mb-5 bg-light rounded">

<h3 class="text-center text-success font-weight-bold">Login</h3>
<br>

{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


  {% endfor %}
  {% endif %}
  {% endwith %}


<form action="/login" method="post" class="jumbotron bg-light">

 

  <div class="form-group">
    <label for="email"><h6 class="text-black">Email Address</h6></label>
    <input type="email" class="form-control" id="email" name="email" required>
  
  </div>


  <div class="form-group">
    <label for="password"><h6>Password</h6></label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  
  <button type="submit" class="btn btn-block" id="btn">Login</button>
</form>

<br>
Not a User <a href="/signup">Signup</a>


</div>

<div class="col-md-4">

</div>


</div>

</div>


{% endblock body %}